<h1>People Person is an app for finding out more about people you dont know yet, or at least dont know well. We can deliver up to date information on a person's general disposition, aswel as some of their opinions. With the right data, we can tell you all about them. </h1>



 
<h2>
<ul>
<li>Imagine knowing if your boss is having a good or bad day. </li>
<li>Imagine knowing if that person you are looking to hire is actually crazy.</li>
<li>Imagine knowing if your signifigant other has issues with Hong Kong having free elections.
</li>
<li>What if you just want to see if someone is generally disagreable?
</li>
<li>Yep.
Theres an app for that. Its called People Person.</li>
<li>Built with Angular, typheous, Alchemy, rails, ruby, rspec</li>
</ul>
</h2>