 <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Knowledge is Power</h1>
            <p>People Person is an app for finding out more about what people think. We can deliver up to date information on a person's general disposition, aswel as some of their opinions. With the right data, we can tell you all about them. 
            <br>




			 <br> <br> <br>
            A little about me:
            My name is William. I like potatoes, laughing and learning to code.
            Contact me at kekknyx@gmail.com if you need any information or help!
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Hacked together with:</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://brand.jquery.org/resources/jquery-mark-dark.gif" alt="">
                    <div class="caption">
                        <h3>Jquery</h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="">
                    <div class="caption">
                        <h3>Javascript</h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://siliconangle.com/files/2014/05/AlchemyAPI-logo-220-square.png" alt="">
                    <div class="caption">
                        <h3>Alchemy</h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://www.vizteams.com/wp-content/uploads/2013/05/ruby-on-rails.jpg" alt="">
                    <div class="caption">
                        <h3>Ruby on Rails</h3>
                        
                    </div>
                </div>
            </div>

        </div>