<form action="sites/post" method="post">
<select name="source">
  <option value="twitter">Twitter</option>
  <option value="facebook">Facebook</option>
  <option value="instagram">Instagram</option>
</select>
<input type="text" name="handle" placeholder="enter user handle">
<input type="submit">


</form>
