<div class="intro-header" style="background-image: url(http://www.wallpeer.com/wp-content/uploads/2014/09/james%20bond%20car%20casino%20royale-bQRg.jpg)">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>People Person</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                      
                          <br>
                            <li>
                                <a href="/sites/index" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Text Analysis</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                 <br><br><br>
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><br><br><br><br><br>What they are thinking?</h2>
                    <p class="lead">People Person digs around for strong opinions on social media platforms. Providing the pulse check that may be funny, may be interesting and might make you money. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://media.salon.com/2013/08/thinking_mind_wandering-1000x960.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">When in doubt:<br>Find out</h2>
                    <p class="lead">Learn about friends, coworkers, even your boss's opinions on politics, places and the work envrionment. Pulse checking is a tactic used by virtually all marketing organizations, now availible to you.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="http://freemarketcafe.com/wp-content/uploads/2014/06/Surveillance-688x450.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
             
                    <p class="copyright text-muted small">Copyright &copy; People Person 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

