<div>
<h2 class="jumbotron" ><%= @handle %> is a fairly <%= @sentiment %> person, here are some of <%=@handle%>'s opinions</h2>

<div class="masonry">
         <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
<% @filtered_copy.each do |c|%>
<div class="item">
	 <tr><td><%= c %></td></tr>
	</div> 
<% end %>
         </tbody>
            </table>
      </div>
</div>
</div>

<script>

var data = [
    {
        value: 200,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Negative"
    },
    {
        value: 275,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Positive"
    },
    {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Neutral"
    }
];
var data2 = {
    labels: ["City", "Country", "Person", "Crime", "Technology", "Organization", "TwitterHandle", "FieldTerminology","OperatingSystem"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 90, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 96, 27, 100]
        }
    ]
};
	// Get context with jQuery - using jQuery's .get() method.
var ctx = $("#myChart").get(0).getContext("2d");
var ctz = $("#myChart2").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
new Chart(ctx).PolarArea(data);
new Chart(ctz).Radar(data2);



</script>